/* CSS By Samantha Ayala */

/* Global (base) mobile first*/ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* ===== Header ===== */

header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

header h1 {
   margin-bottom: 10px;
   font-size: 2rem;
}

header p {
    font-size: 1.1rem;
}

/* ===== Navigation ===== */

nav {
    background-color: #34495e;
    
}

nav ul {
    List-style: none;
    display: flex;
    flex-direction: column; 

}

nav li {
    border-top: 1px solid #4a6178;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 15px;
}

nav a:hover {
    background-color: #1abc9c;
}

/* ===== Main ===== */

main {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
}

main p {
    font-size: 1.2rem;
    font-style:italic
}

/* ===== Footer ===== */

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
/* projects page */

article {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom:  20px;
}

/* ===== Tablet and desktop ===== */

@media (min-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    nav li {
        border-top: none;
    }

   nav a {
        padding: 18px 30px;
    }
}

    header h1 {
    font-size: 2.5rem;
}

    main p {
    font-size: 1.4rem;
    }




